/* Fonts
font-family: 'Rajdhani', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Unica One', cursive; */

/* sticky footer */

.parallax-container{
    height: 250px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/succulent.jpg");
  }

  main {
    flex: 1 0 auto;
        /* margin-top: 10%;
    margin-bottom: 10%; */
    text-align: center;
    background-image: url("assets/images/succulent.jpg")!important;
  }

.nav-wrapper, footer{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

}

.brand-logo{
    margin-left:20px;
    font-family: 'Unica One', cursive;
}



.parallax-container { 
    width: 100%; 
}


.btn{
    background-color: #f09819;
}



.section,{
    margin: 0 auto;
    
}

.info{
    font-family: 'Didact Gothic', sans-serif;
  
}

#img1{
    width: 100px;
main{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;   
}

.section,{
    margin: 0 auto;
    background-image: url("../images/succulent.jpg")!important;
}
.card {
    width: 30%;
    height: auto;
    border: 2px solid #096da7;
    float: left;
    margin-left: 20px;
    background: rgb(64, 74, 83);
    height: 350px;
}
.recipePic {
    width: 200px;
    height: 200px;
}
.card-title {
    font-size: 24px;
    font-variant: small-caps;
    color: #167e64 !important;
    font-weight: bold !important;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000, 
    1px 1px 0 #000;
    text-overflow: ellipsis;
}
form {
    color: white;
}