/* Fonts
font-family: 'Rajdhani', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Unica One', cursive; */




/* sticky footer */

.parallax-container{
    height: 250px;
    width: 100%; 
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-image: url("../images/nightkyline.jpg"); */
  }

  main {
    flex: 1 0 auto;
        /* margin-top: 10%;
    margin-bottom: 10%; */
    text-align: center;
    /* background-image: url("../images/nightkyline.jpg")!important; */
  }

.nav-wrapper, footer{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

}

.brand-logo{
    margin-left: 20px;
    font-family: 'Unica One', cursive;
}



.btn{
    background-color: #f09819;
}



.section {
    margin: 0 auto;
    
}

.info{
    font-family: 'Didact Gothic', sans-serif;
  
}

#img1{
    width: 100px;
}
.section {
    margin: 0 auto;
    background: rgba(64, 74, 83, 0.443);
}
.card {
    width: 30%;
    height: auto;
    border: 2px solid #096da7;
    float: left;
    margin-left: 20px;
    background: rgba(64, 74, 83, 0.272);
    max-height: 400px;
    min-height: 400px;
    color: #f09819;
}
.recipePic {
    width: 200px;
    height: 200px;
}
.card-title {
    font-size: 24px;
    font-variant: small-caps;
    color: #1cca56 !important;
    font-weight: bold !important;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000, 
    1px 1px 0 #000;
    text-overflow: ellipsis;
}
form {
    color: white;
}
.textForm {
    width: 200px !important;
}
.starRanking {
    float: left;

}
.one, .two, .three, .four, .five{
    width: 15px;
}
.starRating {
    width: 20px;
}
#logo {
    max-width: 65px;
}
.card-image {
    max-width: 263px;
    max-height: 200px;
    overflow: hidden;
}

/* breakpoints */

/* small screens */
@media only screen and (max-width: 400px) {
    .parallax-container{
        height: 100px;
        width: 100%; 
    }

  #intro,#outro{
      font-size: 35px;
      font-weight: 20;
      
  }
  .section,
  .card, #intro,#outro{
      background-color: rgba(245, 245, 245, 0.416);
      color: goldenrod;
        }

}